name: Build and Release

on:
  push:
    tags:
    - "v*"

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'

    - name: Vendor dependencies
      run: go mod vendor

    - name: Build
      run: |
        chmod +x build.sh
        ./build.sh

    - name: Create Draft Release
      uses: softprops/action-gh-release@v1
      with:
        draft: true
        files: |
          output/rime-mate-arm64
          output/rime-mate-amd64
          setup.sh
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
